<a href="https://colab.research.google.com/github/KGnanasai/192124045-QP/blob/main/folder/employe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

data = {
    'DEPARTMENT_ID': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270],
    'DEPARTMENT_NAME': ['Administration', 'Marketing', 'Purchasing', 'Human Resources', 'Shipping', 'IT', 'Public Relations', 'Sales', 'Executive', 'Finance', 'Accounting', 'Treasury', 'Corporate Tax', 'Control And Credit', 'Shareholder Services', 'Benefits', 'Manufacturing', 'Construction', 'Contracting', 'Operations', 'IT Support', 'NOC', 'IT Helpdesk', 'Government Sales', 'Retail Sales', 'Recruiting', 'Payroll'],
    'MANAGER_ID': [200, 201, 114, 203, 121, 103, 204, 145, 100, 108, 205, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan],
    'LOCATION_ID': [1700, 1800, 1700, 2400, 1500, 1400, 2700, 2500, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700, 1700]
}

df = pd.DataFrame(data)
distinct_department_ids = df['DEPARTMENT_ID'].drop_duplicates()
print("Department_ids in given data set is:")
print(distinct_department_ids)

Department_ids in given data set is:
0      10
1      20
2      30
3      40
4      50
5      60
6      70
7      80
8      90
9     100
10    110
11    120
12    130
13    140
14    150
15    160
16    170
17    180
18    190
19    200
20    210
21    220
22    230
23    240
24    250
25    260
26    270
Name: DEPARTMENT_ID, dtype: int64

In [2]:
import pandas as pd
data = [
    (102, '2001-01-13', '2006-07-24', 'IT_PROG', 60),
    (101, '1997-09-21', '2001-10-27', 'AC_ACCOUNT', 110),
    (101, '2001-10-28', '2005-03-15', 'AC_MGR', 110),
    (201, '2004-02-17', '2007-12-19', 'MK_REP', 20),
    (114, '2006-03-24', '2007-12-31', 'ST_CLERK', 50),
    (122, '2007-01-01', '2007-12-31', 'ST_CLERK', 50),
    (200, '1995-09-17', '2001-06-17', 'AD_ASST', 90),
    (176, '2006-03-24', '2006-12-31', 'SA_REP', 80),
    (176, '2007-01-01', '2007-12-31', 'SA_MAN', 80),
    (200, '2002-07-01', '2006-12-31', 'AC_ACCOUNT', 90)
]
df = pd.DataFrame(data, columns=['EMPLOYEE_ID', 'START_DATE', 'END_DATE', 'JOB_ID', 'DEPARTMENT_ID'])
print(df)
job_count=df.groupby('EMPLOYEE_ID')['JOB_ID'].nunique()
a= job_count [ job_count >=2 ]
print("Employees with two or more Jobs : " ,a)

   EMPLOYEE_ID  START_DATE    END_DATE      JOB_ID  DEPARTMENT_ID
0          102  2001-01-13  2006-07-24     IT_PROG             60
1          101  1997-09-21  2001-10-27  AC_ACCOUNT            110
2          101  2001-10-28  2005-03-15      AC_MGR            110
3          201  2004-02-17  2007-12-19      MK_REP             20
4          114  2006-03-24  2007-12-31    ST_CLERK             50
5          122  2007-01-01  2007-12-31    ST_CLERK             50
6          200  1995-09-17  2001-06-17     AD_ASST             90
7          176  2006-03-24  2006-12-31      SA_REP             80
8          176  2007-01-01  2007-12-31      SA_MAN             80
9          200  2002-07-01  2006-12-31  AC_ACCOUNT             90
Employees with two or more Jobs :  EMPLOYEE_ID
101    2
176    2
200    2
Name: JOB_ID, dtype: int64