<a href="https://colab.research.google.com/github/KGnanasai/192124045-QP/blob/main/folder/job.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

# Sample job data
data = [
    ["AD_PRES", "President", 20080, 40000],
    ["AD_VP", "Administration Vice President", 15000, 30000],
    ["AD_ASST", "Administration Assistant", 3000, 6000],
    ["FI_MGR", "Finance Manager", 8200, 16000],
    ["FI_ACCOUNT", "Accountant", 4200, 9000],
    ["AC_MGR", "Accounting Manager", 8200, 16000],
    ["AC_ACCOUNT", "Public Accountant", 4200, 9000],
    ["SA_MAN", "Sales Manager", 10000, 20080],
    ["SA_REP", "Sales Representative", 6000, 12008],
    ["PU_MAN", "Purchasing Manager", 8000, 15000],
    ["PU_CLERK", "Purchasing Clerk", 2500, 5500],
    ["ST_MAN", "Stock Manager", 5500, 8500],
    ["ST_CLERK", "Stock Clerk", 2008, 5000],
    ["SH_CLERK", "Shipping Clerk", 2500, 5500],
    ["IT_PROG", "Programmer", 4000, 10000],
    ["MK_MAN", "Marketing Manager", 9000, 15000],
    ["MK_REP", "Marketing Representative", 4000, 9000],
    ["HR_REP", "Human Resources Representative", 4000, 9000],
    ["PR_REP", "Public Relations Representative", 4500, 10500]
]
df = pd.DataFrame(data, columns=["JOB_ID", "JOB_TITLE", "MIN_SALARY", "MAX_SALARY"])
df_sorted = df.sort_values(by='JOB_TITLE', ascending=False)
print(df_sorted)

        JOB_ID                        JOB_TITLE  MIN_SALARY  MAX_SALARY
11      ST_MAN                    Stock Manager        5500        8500
12    ST_CLERK                      Stock Clerk        2008        5000
13    SH_CLERK                   Shipping Clerk        2500        5500
8       SA_REP             Sales Representative        6000       12008
7       SA_MAN                    Sales Manager       10000       20080
9       PU_MAN               Purchasing Manager        8000       15000
10    PU_CLERK                 Purchasing Clerk        2500        5500
18      PR_REP  Public Relations Representative        4500       10500
6   AC_ACCOUNT                Public Accountant        4200        9000
14     IT_PROG                       Programmer        4000       10000
0      AD_PRES                        President       20080       40000
16      MK_REP         Marketing Representative        4000        9000
15      MK_MAN                Marketing Manager        9000       15000
17      HR_REP   Human Resources Representative        4000        9000
3       FI_MGR                  Finance Manager        8200       16000
1        AD_VP    Administration Vice President       15000       30000
2      AD_ASST         Administration Assistant        3000        6000
5       AC_MGR               Accounting Manager        8200       16000
4   FI_ACCOUNT                       Accountant        4200        9000